html {
    width: 100%;
}

* {
    box-sizing: border-box;
}
/* Header Title bar */
#logoname {
    font-family: pacifico;
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: lightskyblue;
    border-bottom: 3px solid black;
    margin: 0;
    width: 100%;
    letter-spacing: 15px;
    -webkit-text-stroke: 2px black;
    padding: 10px;
}

/* Page Nav Bar */
nav ul {
    list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	display: table;
	width: 100%;
    background-color: #002366;
    border-bottom: 3px solid black;
    position: sticky;
    z-index: 10;
}

nav li {
	display: table-cell;
    font-family: satisfy;
    font-size: 30px;
    text-transform: uppercase;
}

#pages a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
    font-size: 20px;

}

li a:hover {
    background-color: #003088;
    
    
}
/* Footer */

footer {
    bottom: 0px;
    padding: 5px;
    background-color: #002366;
    position: fixed;
    width: 100%;
    border-top: 2px solid black;
    flex: 1 1 60%;
    display: flex;
    line-height: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#leftpanel {
    display: block;
    flex: 1 1 20%;
}

#midpanel {
    flex: 1 1 60%;
}

#socialpanel {
    flex: 1 1 20%;
}

footer h3 {
    font-size:100%;
    text-align: center;
    color: white;
   
}

/* Background Image */
body {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: rgb(184, 228, 255);
}

/* Social Link Icons */
#social {
    display: flex;
    position: relative;
    float: right;
    overflow-x: hidden;
}
#social li {
    display: table-cell;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa:hover {
    background-color:rgb(255, 255, 255);
    color:  #002366;
}

.fa-twitter {
    color: white;
    background: #002366 ;
}

.fa-facebook {
    color: white;
    background: #002366 ;
}

.fa-instagram {
    color: white;
    background: #002366 ;
}

.fa-soundcloud {
    color: white;
    background: #002366 ;
}